{{ with $file := .Get 0 }}
  {{ with resources.Get $file }}
    {{ with . | transform.Unmarshal }}
      <table class="participation">
        <thead>
          <tr>
            {{ range index . 0 }}
              {{- if ne . "Link" "Activity" "Post" "Message" "FP Website" "MoU" -}}
              <th>{{ . }}</th>
              {{- end -}}
            {{ end }}
          </tr>
        </thead>
        <tbody>
          {{ range after 1 . }}
            <tr>
              <td>
                <a href="{{ index . 1 }}">{{ index . 0 }}</a>
                <a href="{{ index . 2 }}">⤴︎</a>
              </td>
              {{- range $i, $e := . | after 6 }}<!-- after column 11 -->
              {{- if eq $i 1 2 3 4 -}}
                 {{- continue -}}
               {{- end -}}
              {{- $highlight := "" -}}
                {{- if eq $i 5 -}}
                  {{- $highlight = "bold" -}}
                  {{- if ge $e 32 -}}
                    {{- $highlight = "bold light-yellow" -}}
                  {{- end -}}
                {{- end -}}
              <td class="{{- $highlight -}}">
              {{- if gt $e 0 -}}
                {{ math.Ceil $e  }}
                {{- if eq $i 5 -}}%{{- end -}}
              {{ end }}
              {{- if eq $e "TRUE" -}}
              ✔︎
              {{ end }}
              
              </td>
              {{ end }}
            </tr>
          {{ end }}
        </tbody>
      </table>
    {{ end }}
  {{ end }}
{{ end }}
