{{ with $file := .Get 0 }}
  {{ with resources.Get $file }}
    {{ with . | transform.Unmarshal }}
      <table class="participation">
        <thead>
          <tr>
            {{ range index . 0 }}
              {{- if ne . "Link" -}}
              <th>{{ . }}</th>
              {{- end -}}
            {{ end }}
          </tr>
        </thead>
        <tbody>
          {{ range after 1 . }}
            <tr>
              <td>
                {{- if index . 1  -}}
                <a href="{{ index . 1 }}">{{ index . 0 }}</a>
                {{- else -}}
                {{ index . 0 }}
                {{- end -}}
              </td>
              {{- range $i, $e := . | after 1 }}
              {{- if eq $i 0 3 4  -}}{{- continue -}}{{- end -}}<!-- hide columns -->
              {{- $highlight := "" -}}
                {{- if eq $i 5 -}}
                  {{- $highlight = "bold" -}}
                  {{- if ge $e 33 -}}
                    {{- $highlight = "bold light-yellow" -}}
                  {{- end -}}
                {{- end -}}
              <td class="{{- $highlight -}}">
              {{- if gt $e 0 -}}
                {{ math.Ceil $e  }}
                {{- if eq $i 5 -}}%{{- end -}}
              {{ end }}
              {{- if eq $e "TRUE" -}}
              ✔︎
              {{ end }}
              
              </td>
              {{ end }}
            </tr>
          {{ end }}
        </tbody>
      </table>
    {{ end }}
  {{ end }}
{{ end }}
