<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ with resources.Get "/css/main.css" }}<link rel="stylesheet" href="{{ .RelPermalink }}">{{ end }}
{{ with resources.Get "/css/default.css" }}<link rel="stylesheet" href="{{ .RelPermalink }}">{{ end }}
</head>
<body>

{{ $image := resources.Get "images/test.jpg" }}
<img id="headerimage" src="{{ $image.RelPermalink }}">

<div id="page">

<div id="header">
  <div id="description">
    🧬 <a href="https://2025.htgaa.org">How to Grow (Almost) Anything 2025</a>
    @<a href="https://www.bioclub.tokyo">BioClub Tokyo</a> 🇯🇵
  </div>
  <div id="title">
    HTGAA 2025 @BioClub Tokyo
  </div>
</div>

<div id="content" class="narrowcolumn">
{{- block "main" . }}{{ end -}}
</div>{{ "<!-- END Content -->" | safeHTML }}

{{/* partial "sidebar" . */}}
{{ partial "footer" . }}
